<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const ROOMID = "<%= roomId %>";
    </script>
    <!-- <script src="js/main.js" defer></script> -->
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        <div id="video-grid">
        </div>
        <div id="chat">
            <div id="chat-content">
                <div class="chat-item">
                    <b>Chatperson123:</b> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, voluptatum ducimus molestias quia facere asperiores at debitis similique odio, incidunt dignissimos, reprehenderit nesciunt atque consequuntur maxime ea eaque aliquid cumque.
                </div>
                <div class="chat-item">
                    <b>Chatperson123:</b> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, voluptatum ducimus molestias quia facere asperiores at debitis similique odio, incidunt dignissimos, reprehenderit nesciunt atque consequuntur maxime ea eaque aliquid cumque.
                </div>
            </div>
            <div id="chat-form">
                <textarea id="chat-input-box" name="" id="" cols="30" rows=""></textarea>
            </div>
        </div>
    </main>
    
</body>
</html>
