<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a name</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main id="name">
        <div class="container">
            <div class="card">
                <div class="info">Please allow permission to webcam and audio if asked.</div>
                <div id="video-placeholder">
                </div>
                <h2>What is your name?</h2>
                <div><input type="text" id="name-input" name="name" autocomplete="off" required placeholder="Enter your name..."></div>
                <div>
                    <button id="modal-join-room">Join room</button>
                </div>
            </div>
        </div>
    </main>

    <script>
        const roomId = localStorage.getItem('room');
        const nameInput = document.getElementById('name-input');
        const joinBtn = document.getElementById('modal-join-room');

        joinBtn.addEventListener('click', () => {
            const name = nameInput.value;
            if(name) {
                localStorage.setItem('name', name);
                window.location.replace(`/${roomId}`);
            }
        });

        nameInput.addEventListener('keydown', (e) => {
            const name = nameInput.value;
            if(e.key === 'Enter' && name) {
                localStorage.setItem('name', name);
                window.location.replace(`/${roomId}`);
            }
        });

        function askMediaPermission()
        {
            const options = { video: true, audio: true };
            navigator.mediaDevices.getUserMedia(options)
                .then(stream => {
                    const video = document.createElement('video');
                    video.muted = true;
                    video.srcObject = stream;

                    const videoPlaceHolder = document.getElementById('video-placeholder');
                    videoPlaceHolder.append(video);

                    video.addEventListener('loadedmetadata', () => {
                        video.play();
                    });

                    const cam = stream.getVideoTracks();
                    const speaker = stream.getAudioTracks();
                    console.log({cam, speaker});
                })
                .catch(err => {
                    // when permission denied
                    console.log(err);
                });
        }

        askMediaPermission();
    </script>
</body>
</html>
