@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
:root {
    --text-color: #171d26;
    --secondary-color: #ffe45e;
    --primary-color: #2D8CFF;
    --dark-primary-color: #1266cd;
    --font: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    padding: 1rem;
    color: white;
    text-transform: lowercase;
}

header h1 {
    margin: 0;
    font-weight: 400;
    font-size: 1.8rem;
}

main {
    display: grid;
    grid-template-columns: auto 400px;
    height: 100vh;
}

h1, h2, h3, h4 {
    margin: 2.3rem 0;
    line-height: 2rem;
}

#video-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
    flex-wrap: wrap;
}
video {
    max-width: 340px;
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: .5rem;
    margin: .5rem;
}

#chat {
    background-color: white;
    color: var(--text-color);
    padding: 1.8rem;
    font-size: .9rem;
    display: grid;
    grid-template-rows: auto 80px;
}

#chat-form textarea {
    font-family: var(--font);
    outline: none;
    padding: .8rem;
    height: 100%;
    width: 100%;
    border: none;
    background-color: #EEE;
}

.chat-item {
    margin-bottom: 1rem;
}

main#home {
    display: initial;
    height: 100vh;
}

.spacer {
    background-image: url('../images/bg.svg');
    background-size: cover;
    height: 200px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

section {
    width: 100%;
    padding: 2rem;
}

section h1 {
    font-size: 2rem;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

#hero {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2D8CFF;
    color: #FFF;
}

#hero img {
    max-width: 610px;
    width: 100%;
    float: right;
}

#hero .sub {
    font-size: 1.6rem;
    line-height: 2.5rem;
    
}

#hero h1 {
    font-size: 4rem;
    line-height: 4.5rem;
}

#hero .btn {
    display: inline-block;
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s ease-in;
    font-weight: 700;
}

#hero .btn:hover {
    background-color: var(--dark-primary-color);
    color: white;
}

#grid-description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.grid-item {
    text-align: center;
}

.icon {
    font-size: 5rem;
    color: var(--primary-color);
}

.mt {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

footer {
    padding: 3rem;
    text-align: center;
}

/* Modal */
.modal {
    background-color: rgba(255, 255, 255, .35);
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    opacity: 0;
    transition: .3s ;
    text-align: center;
}

.modal input {
    background-color: white;
    outline: none;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid #CCC;
    width: 100%;
    font-size: 1.5rem;
    margin: .5rem 0;
}

.modal h3 {
    font-size: 1.5rem;
}

.modal h3 {
    margin: 0;
}

.show {
    display: flex;
    opacity: 1;
}

.modal-card {
    width: 500px;
    background-color: white;
    padding: 2rem;
    border-radius: 1.3rem;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .3);
}

.modal button {
    cursor: pointer;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: .8rem;
    font-size: 1rem;
    color: white;
    border-radius: .5rem;
    text-transform: uppercase;
    margin: 0 .3rem;
    transition: .3s;
}

.modal button:hover {
    background-color: var(--dark-primary-color);
    border: 2px solid var(--dark-primary-color);
}

.modal-content {

}

button.btn-second {
    background-color: white;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

button.btn-second:hover {
    background-color: #EEE;
}
