<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About Mozo</h1>
    <p>Mozo is a peer to peer video chat. We do not save your videos. Your connection is direct to the people you are talking to.</p>
    <p>This app is created by Jeff de Lara.</p>
</body>
</html>
